.box{
    width: 200px;
    background-color: #93E9BE;
    margin: 3px auto;
    color: purple;
}
.box:hover{
    border-style: solid;
    border-color: purple;
    border-width: 3px;
}
div{
    text-align: center;
}