.padding{
    height: 50px;
}
.holder{
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    margin-top: 0px;
    justify-content: space-around;
}
button{
    color:purple;
}